{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page d'accueil = Liste des sorties</h1>
    <h2> Voici la liste des sorties</h2>

{% endblock %}
