{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1 class="text-center mb-4">DASHBOARD ADMIN</h1>


        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h3 class="card-title text-primary">Fonctionnalités d'admin</h3>
                <h5 class="card-subtitle text-muted mb-3 align ">Inscription par CSV</h5>

                <div class="d-flex justify-content-between gap-3">
                    <a class="btn btn-primary " href="{{ path('admin_admin_upload') }}">CSV Uploader</a>
                    <a class="btn btn-secondary" href="{{ path('admin_app_admin_register') }}">Création des Utilisateurs</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

